<%- layout("/layouts/boiler.ejs") %>

<main>
    <h1>AI Resume Analyzer</h1>
    <p>Upload your resume and get instant feedback</p>
    <form method="POST" action="/upload" enctype="multipart/form-data">
    <label class="upload-box">
        <input type="file" accept=".pdf,.doc,.docx" name="resume" >
        <span>Click to upload your resume</span>
    </label>
    <button>Check Your Resume</button>
    </form>
</main>