
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Login</title>
</head>
<body>
    <h2 id="login">Login </h2>
    <div class="mainForm">
    <form action="#" method="POST">
        <div class="form">
        <label for ="userName">Username</label>
        <input type="text" name=userName placeholder="Enter Username" 
        required> 
        </div>

        <div class="form">
        <label for ="email">Email</label>
        <input type="email" name=email placeholder="Enter Email-id" 
        required> 
        </div>

         <div class="form">
        <label for ="password">Password</label>
        <input type="password" name=password placeholder="Enter Password" 
    required> 
        </div>
    <button id="submmit">Login</button>
    </form>
    </div>
        <%- include("../includes/footer.ejs") %>
</body>
</html>